.loading {
    @include center;

    .loading-element {
        height: 100px;
        width: 100px;
        border: 10px solid transparent;
        border-top: 10px solid $secondary;
        border-radius: 50%;
        transform: rotate(0);
        animation: rotation 3s linear infinite;
    }

    @keyframes rotation {
        from { transform: rotate(0); }
        to { transform: rotate(360deg); }
    }
}