.plus-button {
    height: 50px;
    width: 50px;
    @include center;
    background-color: white;
    border: 3px solid $primary;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    padding: 30px;
        
    img {
        height: 35px;
        width: 35px;
        object-fit: contain;
    }
}