.household-members-modal-member {
    width: 100%;
    @include center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 0;
    padding-left: 30px;
    position: relative;

    img {
        height: 35px;
        width: 35px;
        object-fit: contain;
        border-radius: 50%;
    }

    p {
        color: black;
        font-size: 25px;
        margin: 0;
    }

    .household-members-modal-member-star {
        height: 20px;
        width: 20px;
        object-fit: contain;
        position: absolute;
        right: 10%;
    }
}

.household-members-modal-line-holder {
    @include center;
    width: 100%;
    margin: 5px;
    
    .household-members-modal-line {
        height: 1px;
        width: 90%;
        background-color: $secondary;
    }
}