.household-members-modal-member {
    width: 100%;
    @include center;
    justify-content: flex-start;
    gap: 20px;

    img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        border-radius: 50%;
    }

    p {
        color: black;
        font-size: 30px;
        margin: 0;
    }

    .household-members-modal-member-star {
        height: 20px;
        width: 20px;
        object-fit: contain;
        position: absolute;
        right: 10%;
    }
}