.household-create-article-modal-scan {
    height: 100vh;
    width: 100vw;
    @include center(column);
    background-color: white;
    position: absolute;
    left: 100%;
    transition: 300ms;
    z-index: 1;

    img {
        height: 25px;
        width: 25px;
        object-fit: contain;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    h2 {
        @include floating-title;
        font-size: 35px;
        top: 5%;
    }

    .loading {
        position: absolute;
    }

    video {
        width: 90%;
        border: 3px solid $primary;
        opacity: 0;
        transition: 300ms;
    }

    .video-active {
        opacity: 1;
    }

    button {
        @include default-button;
        position: absolute;
        top: 90%;
    }
}

#household-create-artical-modal-scan-active {
    left: 0;
}