@import "./household-create-article-modal-scan";

.household-header {
    justify-content: center;
    position: absolute;
    top: 0;
}

.household-create-article-modal-content-holder {
    height: 100%;
    width: 100%;
    @include center(column);
    justify-content: flex-start;
    gap: 100px;
    margin-top: 100px;
    
    form {
        width: 100%;
        @include center(column);
        gap: 10px;
    
        fieldset {
            width: 80%;
            @include center(column);
            align-items: flex-start;
            gap: 5px;
            border: none;
            position: relative;
            top: 0;
            transition: 300ms;
    
            label {
                color: $secondary;
                font-size: 15px;
                text-transform: capitalize;
            }
    
            input, select {
                width: 100%;
                color: black;
                font-size: 20px;
                background-color: $background-dark;
                border: 2px solid $primary;
                outline: none;
                padding: 5px 10px;
                transition: 300ms;
    
                &:focus {
                    border: 3px solid $secondary;
                }
    
                &::placeholder {
                    color: gray;
                }
            }

            select {
                text-transform: capitalize
            }

            .household-create-article-modal-checkbox-holder {
                @include center;
                gap: 5px;
            }
        }

        #create-article-modal-fieldset-disabled {
            opacity: 0;
            top: 10px;
        }
    }
    
    .button-holder {
        width: 100%;
        @include center(column);
        gap: 10px;
    
        button {
            @include default-button;
        }
    }
}

.household-create-article-modal-button {
    @include default-button;
    position: absolute;
    top: 90%;
}

.button-disabled {
    opacity: .5;
}