.household-article-modal-recipes-modal-recipe {
    @include center;
    gap: 20px;
    padding: 10px 20px;

    .household-article-modal-recipes-modal-recipe-image {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%
    }

    .household-article-modal-recipes-modal-recipe-content-holder {
        @include center(column);
        align-items: flex-start;

        strong {
            color: $primary;
            font-size: 22px;
        }

        p {
            color: black;
            font-size: 16px;
            margin: 0;
        }
    }
}