.home-modal {
    width: 100%;
    @include center(column);
    background-color: $background;
    border-top: 5px solid $primary;
    position: absolute;
    bottom: -305px;
    padding: 30px 0;
    transition: 300ms;

    .home-modal-x-holder {
        height: 25px;
        width: 100%;
        @include center;
        justify-content: flex-end;
        padding: 10px 30px;
        padding-bottom: 40px;

        img {
            height: 20px;
            width: 20px;
            object-fit: contain;
        }
    }

    .home-modal-button-holder {
        width: 100%;
        @include center(column);
        gap: 5px;
        position: relative;

        button {
            @include default-button;
        }
    }
}

#home-modal-active {
    bottom: 0;
}