.household-article {
    width: 100%;
    @include center;
    justify-content: flex-start;
    gap: 20px;
    padding: 15px 20px;

    img {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    .household-article-content {
        @include center(column);
        align-items: flex-start;

        strong {
            color: $primary;
            font-size: 30px;
        }

        p {
            color: black;
            font-size: 15px;
            margin: 0;
        }
    }
}