.household-menu {
    width: 100%;
    @include center;
    justify-content: space-between;
    background-color: $background-dark;
    border-top: 1px solid black;
    padding: 10px 20px;
    position: sticky;
    bottom: 0;

    .household-menu-image {
        height: 30px;
        width: 30px;
        object-fit: contain;
    }

    .plus-button {
        position: relative;
        top: 0;
        padding: 25px;
    }
}