@font-face {
    font-family: WasteNot-Bold;
    src: url("../fonts/Oswald-Bold.ttf");
}

@font-face {
    font-family: WasteNot-ExtraLight;
    src: url("../fonts/Oswald-ExtraLight.ttf");
}

@font-face {
    font-family: WasteNote-Light;
    src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: WasteNot-Medium;
    src: url("../fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: WasteNot;
    src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: WasteNot-SemiBold;
    src: url("../fonts/Oswald-SemiBold.ttf");
}