@mixin center($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin title {
    color: black;
    font-size: 50px;
    text-transform: capitalize;
}

@mixin floating-title {
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    position: absolute;
    top: 10%;
}

@mixin default-button {
    width: 70%;
    color: black;
    font-size: 15px;
    text-transform: capitalize;
    background: transparent;
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 10px 0;
}

@mixin no-span {
    color: grey;
    font-size: 30px;
    font-style: italic;
}

@mixin household-header {
    width: 100%;
    @include center;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 3px solid $secondary;

    img {
        height: 30px;
        width: 30px;
        object-fit: contain;
    }
    
    h2 {
        color: black;
        font-size: 40px;
        text-transform: capitalize;
    }
}