@font-face {
  font-family: WasteNot-Bold;
  src: url("../fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: WasteNot-ExtraLight;
  src: url("../fonts/Oswald-ExtraLight.ttf");
}
@font-face {
  font-family: WasteNote-Light;
  src: url("../fonts/Oswald-Light.ttf");
}
@font-face {
  font-family: WasteNot-Medium;
  src: url("../fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: WasteNot;
  src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: WasteNot-SemiBold;
  src: url("../fonts/Oswald-SemiBold.ttf");
}
.plus-button {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 3px solid #add8e6;
  border-radius: 50%;
  position: absolute;
  top: 85%;
  padding: 30px;
}
.plus-button img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: WasteNot;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.home h1 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
}
.home .household-holder {
  height: 50%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  overflow: scroll;
}
.home .household-holder span {
  color: grey;
  font-size: 30px;
  font-style: italic;
}
.home .household-holder .household-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #add8e6;
  border-radius: 5px;
  padding: 10px 30px;
}
.home .household-holder .household-button p {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}
.home .household-holder .household-button .household-person-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.home .household-holder .household-button .household-person-holder img {
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .home-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 5px solid #add8e6;
  position: absolute;
  bottom: -305px;
  padding: 30px 0;
  transition: 300ms;
}
.home .home-modal .home-modal-x-holder {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 30px;
  padding-bottom: 40px;
}
.home .home-modal .home-modal-x-holder img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .home-modal .home-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.home .home-modal .home-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
}
.home #home-modal-active {
  bottom: 0;
}
.home .household-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 5px solid #add8e6;
  position: absolute;
  left: 100%;
  padding: 30px 0;
  transition: 300ms;
}
.home .household-modal .household-modal-create,
.home .household-modal .household-modal-join {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
}
.home .household-modal .household-modal-create .modal-x,
.home .household-modal .household-modal-join .modal-x {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
}
.home .household-modal .household-modal-create h2,
.home .household-modal .household-modal-join h2 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
  font-weight: normal;
}
.home .household-modal .household-modal-create fieldset,
.home .household-modal .household-modal-join fieldset {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  margin-top: 50px;
}
.home .household-modal .household-modal-create fieldset label,
.home .household-modal .household-modal-join fieldset label {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.home .household-modal .household-modal-create fieldset input,
.home .household-modal .household-modal-join fieldset input {
  width: 100%;
  color: black;
  font-size: 20px;
  border: 3px solid #add8e6;
  outline: none;
  padding: 10px;
  transition: 300ms;
}
.home .household-modal .household-modal-create fieldset input:focus,
.home .household-modal .household-modal-join fieldset input:focus {
  border: 3px solid #4682B4;
}
.home .household-modal .household-modal-create fieldset input::-moz-placeholder, .home .household-modal .household-modal-join fieldset input::-moz-placeholder {
  color: gray;
}
.home .household-modal .household-modal-create fieldset input::placeholder,
.home .household-modal .household-modal-join fieldset input::placeholder {
  color: gray;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button,
.home .household-modal .household-modal-join .household-modal-create-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button img,
.home .household-modal .household-modal-join .household-modal-create-icon-button img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button span,
.home .household-modal .household-modal-join .household-modal-create-icon-button span {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.home .household-modal .household-modal-create .button-holder,
.home .household-modal .household-modal-join .button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 85%;
}
.home .household-modal .household-modal-create .button-holder button,
.home .household-modal .household-modal-join .button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
}
.home #household-modal-active {
  left: 0;
}

.household {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.household .household-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-modal header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 3px solid #4682B4;
  justify-content: center;
  position: absolute;
  top: 0;
}
.household .household-modal header img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .household-modal header h2 {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
}
.household .household-modal header img {
  position: absolute;
  left: 30px;
}
.household .household-modal .household-create-article-modal-content-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  margin-top: 150px;
}
.household .household-modal .household-create-article-modal-content-holder form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  position: relative;
  top: 0;
  transition: 300ms;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset label {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset input {
  width: 100%;
  color: black;
  font-size: 20px;
  background-color: white;
  border: 3px solid #add8e6;
  outline: none;
  padding: 10px;
  transition: 300ms;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset input:focus {
  border: 3px solid #4682B4;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset input::-moz-placeholder {
  color: gray;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset input::placeholder {
  color: gray;
}
.household .household-modal .household-create-article-modal-content-holder form fieldset .household-create-article-modal-checkbox-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.household .household-modal .household-create-article-modal-content-holder form #create-article-modal-fieldset-disabled {
  opacity: 0;
  top: 10px;
}
.household .household-modal .household-create-article-modal-content-holder .button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.household .household-modal .household-create-article-modal-content-holder .button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
}
.household .household-modal .household-create-article-modal-button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  position: absolute;
  top: 80%;
}
.household .household-modal .household-members-modal-return {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-modal button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 30px;
}
.household .household-modal .member-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px 0;
  padding-left: 30px;
}
.household .household-modal .member-holder .household-members-modal-member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.household .household-modal .member-holder .household-members-modal-member img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .household-modal .member-holder .household-members-modal-member p {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
  margin: 0;
}
.household .household-members-modal {
  width: 90vw;
  justify-content: flex-start;
  gap: 50px;
  border-right: 3px solid #add8e6;
  left: -100%;
  padding-top: 100px;
}
.household #household-modal-active {
  left: 0;
}
.household header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 3px solid #4682B4;
}
.household header img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household header h2 {
  color: black;
  font-size: 40px;
  text-transform: capitalize;
}
.household .household-tag-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  padding: 10px;
  gap: 5px;
}
.household .household-tag-holder p {
  color: black;
  font-size: 15px;
  background-color: lightgrey;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 5px 15px;
}
.household .article-holder {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: scroll;
}
.household .article-holder span {
  color: grey;
  font-size: 30px;
  font-style: italic;
}
.household .article-holder .household-article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.household .article-holder .household-article img {
  height: 80px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .article-holder .household-article .household-article-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.household .article-holder .household-article .household-article-content strong {
  color: #add8e6;
  font-size: 35px;
  text-transform: capitalize;
}
.household .article-holder .household-article .household-article-content p {
  color: black;
  font-size: 20px;
  margin: 0;
}
.household .household-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid black;
  padding: 10px 20px;
  position: sticky;
  bottom: 0;
}
.household .household-menu img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .household-menu .plus-button {
  position: relative;
  top: 0;
}/*# sourceMappingURL=main.css.map */