@font-face {
  font-family: WasteNot-Bold;
  src: url("../fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: WasteNot-ExtraLight;
  src: url("../fonts/Oswald-ExtraLight.ttf");
}
@font-face {
  font-family: WasteNote-Light;
  src: url("../fonts/Oswald-Light.ttf");
}
@font-face {
  font-family: WasteNot-Medium;
  src: url("../fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: WasteNot;
  src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: WasteNot-SemiBold;
  src: url("../fonts/Oswald-SemiBold.ttf");
}
.plus-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border: 3px solid #add8e6;
  border-radius: 50%;
  position: absolute;
  top: 85%;
  padding: 30px;
}
.plus-button img {
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.household-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px 30px;
  border-bottom: 3px solid #4682B4;
}
.household-header img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.household-header img:first-child {
  left: 20px;
}
.household-header img:last-child {
  right: 20px;
}
.household-header h2 {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
}
.household-header input {
  width: 70%;
  color: black;
  font-size: 25px;
  outline: 0;
  border: 1px solid black;
  padding: 3px 10px;
  transition: 300ms;
}
.household-header input:focus {
  border: 1px solid #4682B4;
}

.household-tag-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  padding: 10px;
  gap: 5px;
}
.household-tag-holder p {
  color: black;
  font-size: 13px;
  background-color: lightgrey;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 5px 15px;
  transition: 300ms;
}
.household-tag-holder #household-tag-active {
  background-color: #4682B4;
  color: white;
}

.household-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0;
}
.household-rating img {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.loading .loading-element {
  height: 100px;
  width: 100px;
  border: 10px solid transparent;
  border-top: 10px solid #4682B4;
  border-radius: 50%;
  transform: rotate(0);
  animation: rotation 3s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-input {
  height: 50%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  top: 30%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 300ms;
  z-index: 1;
}
.image-input .image-input-x {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}
.image-input .image-input-content-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
}
.image-input .image-input-content-holder .image-input-banner-background {
  height: 100px;
  width: 100%;
  background-image: url("../images/banners/banner-default.png");
  background-position: center;
  background-size: cover;
  border: 3px solid #4682B4;
}
.image-input .image-input-content-holder img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.image-input .image-input-content-holder .image-input-preview-image {
  border: 3px solid #4682B4;
}
.image-input .image-input-content-holder strong {
  color: #add8e6;
  font-size: 30px;
  text-align: center;
}
.image-input input {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.image-input button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  transition: 300ms;
}
.image-input #image-input-button-active {
  opacity: 1;
}

#image-input-active {
  top: 50%;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: WasteNot;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.mobile-info {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mobile-info h1 {
  color: black;
  font-size: 50px;
  margin-bottom: 30px;
}
.mobile-info strong {
  color: #add8e6;
  font-size: 30px;
}
.mobile-info p {
  color: black;
  font-size: 20px;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  overflow-x: hidden;
}
.home h1 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
}
.home .household-holder {
  height: 50%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow: scroll;
}
.home .household-holder span {
  color: grey;
  font-size: 25px;
  font-style: italic;
}
.home .household-holder .household-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #add8e6;
  border-radius: 5px;
  padding: 10px 15px;
}
.home .household-holder .household-button p {
  color: black;
  font-size: 25px;
  margin: 0;
}
.home .household-holder .household-button .household-person-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.home .household-holder .household-button .household-person-holder img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .home-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 5px solid #add8e6;
  position: absolute;
  bottom: -305px;
  padding: 30px 0;
  transition: 300ms;
}
.home .home-modal .home-modal-x-holder {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 30px;
  padding-bottom: 40px;
}
.home .home-modal .home-modal-x-holder img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .home-modal .home-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.home .home-modal .home-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.home #home-modal-active {
  bottom: 0;
}
.home .household-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 5px solid #add8e6;
  position: absolute;
  left: 100%;
  padding: 30px 0;
  transition: 300ms;
}
.home .household-modal .household-modal-create,
.home .household-modal .household-modal-join,
.home .household-modal .household-modal-scan {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
}
.home .household-modal .household-modal-create .modal-x,
.home .household-modal .household-modal-join .modal-x,
.home .household-modal .household-modal-scan .modal-x {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 30px;
}
.home .household-modal .household-modal-create h2,
.home .household-modal .household-modal-join h2,
.home .household-modal .household-modal-scan h2 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
  font-weight: normal;
  top: 5%;
}
.home .household-modal .household-modal-create fieldset,
.home .household-modal .household-modal-join fieldset,
.home .household-modal .household-modal-scan fieldset {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  position: absolute;
  top: 30%;
}
.home .household-modal .household-modal-create fieldset label,
.home .household-modal .household-modal-join fieldset label,
.home .household-modal .household-modal-scan fieldset label {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.home .household-modal .household-modal-create fieldset input,
.home .household-modal .household-modal-join fieldset input,
.home .household-modal .household-modal-scan fieldset input {
  width: 100%;
  color: black;
  font-size: 20px;
  border: 3px solid #add8e6;
  outline: none;
  padding: 10px;
  transition: 300ms;
}
.home .household-modal .household-modal-create fieldset input:focus,
.home .household-modal .household-modal-join fieldset input:focus,
.home .household-modal .household-modal-scan fieldset input:focus {
  border: 3px solid #4682B4;
}
.home .household-modal .household-modal-create fieldset input::-moz-placeholder, .home .household-modal .household-modal-join fieldset input::-moz-placeholder, .home .household-modal .household-modal-scan fieldset input::-moz-placeholder {
  color: gray;
}
.home .household-modal .household-modal-create fieldset input::placeholder,
.home .household-modal .household-modal-join fieldset input::placeholder,
.home .household-modal .household-modal-scan fieldset input::placeholder {
  color: gray;
}
.home .household-modal .household-modal-create .loading,
.home .household-modal .household-modal-join .loading,
.home .household-modal .household-modal-scan .loading {
  position: absolute;
}
.home .household-modal .household-modal-create video,
.home .household-modal .household-modal-join video,
.home .household-modal .household-modal-scan video {
  width: 90%;
  border: 3px solid #4682B4;
  opacity: 0;
  transition: 300ms;
}
.home .household-modal .household-modal-create .video-active,
.home .household-modal .household-modal-join .video-active,
.home .household-modal .household-modal-scan .video-active {
  opacity: 1;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button,
.home .household-modal .household-modal-join .household-modal-create-icon-button,
.home .household-modal .household-modal-scan .household-modal-create-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button img,
.home .household-modal .household-modal-join .household-modal-create-icon-button img,
.home .household-modal .household-modal-scan .household-modal-create-icon-button img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .household-modal .household-modal-create .household-modal-create-icon-button span,
.home .household-modal .household-modal-join .household-modal-create-icon-button span,
.home .household-modal .household-modal-scan .household-modal-create-icon-button span {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.home .household-modal .household-modal-create .button-holder,
.home .household-modal .household-modal-join .button-holder,
.home .household-modal .household-modal-scan .button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 90%;
}
.home .household-modal .household-modal-create .button-holder button,
.home .household-modal .household-modal-join .button-holder button,
.home .household-modal .household-modal-scan .button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.home .household-modal .household-modal-create .button-holder .button-disabled,
.home .household-modal .household-modal-join .button-holder .button-disabled,
.home .household-modal .household-modal-scan .button-holder .button-disabled {
  opacity: 0.5;
}
.home #household-modal-active {
  left: 0;
}
.home .new-household-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 5px solid #add8e6;
  position: absolute;
  top: 100%;
  padding: 30px 0;
  transition: 300ms;
  z-index: 1;
}
.home .new-household-modal .new-household-modal-return {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.home .new-household-modal .new-household-modal-title-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 20%;
  padding: 0 30px;
}
.home .new-household-modal .new-household-modal-title-holder h2 {
  color: #add8e6;
  font-size: 40px;
  text-align: center;
}
.home .new-household-modal .new-household-modal-title-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  font-size: 17px;
}
.home .new-household-modal .new-household-modal-member-holder {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  border-top: 3px solid #4682B4;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  overflow: scroll;
}
.home .new-household-modal .new-household-modal-member-holder .new-household-modal-member {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.home .new-household-modal .new-household-modal-member-holder .new-household-modal-member img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .new-household-modal .new-household-modal-member-holder .new-household-modal-member .new-household-modal-member-star {
  height: 15px;
  width: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 30px;
}
.home .new-household-modal .new-household-modal-member-holder .new-household-modal-member p {
  color: black;
  font-size: 20px;
  margin: 0;
}
.home #new-household-modal-active {
  top: 0;
}

.household {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.household .household-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-article-modal {
  top: 100%;
  left: 0;
}
.household .household-article-modal .household-article-modal-use-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-return {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-content-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  position: absolute;
  top: 10%;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-content-holder img {
  height: 80px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid #add8e6;
  border-radius: 50%;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-content-holder strong {
  color: #add8e6;
  font-size: 45px;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #add8e6;
  padding: 10px 20px;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal p {
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal input {
  width: 80%;
  color: black;
  font-size: 20px;
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  transition: 300ms;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal input:focus {
  border: 1px solid #4682B4;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal .household-article-modal-use-modal-mini-modal-button-holder {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal .household-article-modal-use-modal-mini-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.household .household-article-modal .household-article-modal-use-modal .household-article-modal-use-modal-mini-modal .household-article-modal-use-modal-mini-modal-button-holder .button-disabled {
  opacity: 0.5;
}
.household .household-article-modal .household-article-modal-recipes-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  position: absolute;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  top: 0;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-return {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-background {
  height: 30%;
  width: 100%;
  background-image: url("../images/image-icon.png");
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid #4682B4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
  overflow: scroll;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder h2 {
  color: #add8e6;
  font-size: 40px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder .household-rating img {
  height: 25px;
  width: 25px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder p {
  color: black;
  font-size: 18px;
  margin: 0;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder .household-article-modal-recipes-modal-recipe-modal-ingredients-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder .household-article-modal-recipes-modal-recipe-modal-ingredients-holder strong {
  color: #4682B4;
  font-size: 30px;
  text-transform: capitalize;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder .household-article-modal-recipes-modal-recipe-modal-ingredients-holder ul {
  padding: 5px;
  padding-left: 50px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipe-modal .household-article-modal-recipes-modal-recipe-modal-content-holder .household-article-modal-recipes-modal-recipe-modal-ingredients-holder ul li {
  color: grey;
  font-size: 20px;
  font-style: italic;
}
.household .household-article-modal .household-article-modal-recipes-modal #household-article-modal-recipes-modal-recipe-modal-active {
  left: 0;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder .household-article-modal-recipes-modal-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px 20px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder .household-article-modal-recipes-modal-recipe .household-article-modal-recipes-modal-recipe-image {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder .household-article-modal-recipes-modal-recipe .household-article-modal-recipes-modal-recipe-content-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder .household-article-modal-recipes-modal-recipe .household-article-modal-recipes-modal-recipe-content-holder strong {
  color: #add8e6;
  font-size: 22px;
}
.household .household-article-modal .household-article-modal-recipes-modal .household-article-modal-recipes-modal-recipes-holder .household-article-modal-recipes-modal-recipe .household-article-modal-recipes-modal-recipe-content-holder p {
  color: black;
  font-size: 16px;
  margin: 0;
}
.household .household-article-modal .household-article-modal-recipes-modal-loading {
  justify-content: center;
}
.household .household-article-modal #household-article-modal-modal-active {
  left: 0;
}
.household .household-article-modal .household-article-modal-return {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-article-modal .household-article-modal-title-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  top: 10%;
}
.household .household-article-modal .household-article-modal-title-holder img {
  height: 80px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid #add8e6;
  border-radius: 50%;
}
.household .household-article-modal .household-article-modal-title-holder h2 {
  width: 60%;
  color: #add8e6;
  font-size: 40px;
  word-wrap: break-word;
}
.household .household-article-modal .household-article-modal-title-holder input {
  width: 60%;
  color: #add8e6;
  font-size: 35px;
  outline: none;
  background-color: white;
  border: 3px solid #add8e6;
  padding: 3px 10px;
  transition: 300ms;
}
.household .household-article-modal .household-article-modal-title-holder input:focus {
  border: 3px solid #4682B4;
}
.household .household-article-modal .household-article-modal-info-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 30%;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info .household-article-modal-info-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info .household-article-modal-info-content p {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info .household-article-modal-info-content span {
  color: #add8e6;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info .household-article-modal-info-content input {
  width: 50%;
  color: black;
  font-size: 20px;
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 3px 5px;
  transition: 300ms;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info .household-article-modal-info-content input:focus {
  border: 1px solid #4682B4;
}
.household .household-article-modal .household-article-modal-info-holder .household-article-modal-info strong {
  color: #4682B4;
  font-size: 15px;
}
.household .household-article-modal .household-article-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 5%;
}
.household .household-article-modal .household-article-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.household .household-article-modal .household-article-modal-button-holder .household-article-modal-button-disabled {
  opacity: 0.5;
  transition: 300ms;
}
.household .household-create-article-modal .household-create-article-modal-scan {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  left: 100%;
  transition: 300ms;
  z-index: 1;
}
.household .household-create-article-modal .household-create-article-modal-scan img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-create-article-modal .household-create-article-modal-scan h2 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
  font-size: 35px;
  top: 5%;
}
.household .household-create-article-modal .household-create-article-modal-scan .loading {
  position: absolute;
}
.household .household-create-article-modal .household-create-article-modal-scan video {
  width: 90%;
  border: 3px solid #add8e6;
  opacity: 0;
  transition: 300ms;
}
.household .household-create-article-modal .household-create-article-modal-scan .video-active {
  opacity: 1;
}
.household .household-create-article-modal .household-create-article-modal-scan button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  position: absolute;
  top: 90%;
}
.household .household-create-article-modal #household-create-artical-modal-scan-active {
  left: 0;
}
.household .household-create-article-modal .household-header {
  justify-content: center;
  position: absolute;
  top: 0;
}
.household .household-create-article-modal .household-create-article-modal-content-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  margin-top: 100px;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
  position: relative;
  top: 0;
  transition: 300ms;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset label {
  color: #4682B4;
  font-size: 15px;
  text-transform: capitalize;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset input, .household .household-create-article-modal .household-create-article-modal-content-holder form fieldset select {
  width: 100%;
  color: black;
  font-size: 20px;
  background-color: white;
  border: 2px solid #add8e6;
  outline: none;
  padding: 5px 10px;
  transition: 300ms;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset input:focus, .household .household-create-article-modal .household-create-article-modal-content-holder form fieldset select:focus {
  border: 3px solid #4682B4;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset input::-moz-placeholder, .household .household-create-article-modal .household-create-article-modal-content-holder form fieldset select::-moz-placeholder {
  color: gray;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset input::placeholder, .household .household-create-article-modal .household-create-article-modal-content-holder form fieldset select::placeholder {
  color: gray;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset select {
  text-transform: capitalize;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form fieldset .household-create-article-modal-checkbox-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.household .household-create-article-modal .household-create-article-modal-content-holder form #create-article-modal-fieldset-disabled {
  opacity: 0;
  top: 10px;
}
.household .household-create-article-modal .household-create-article-modal-content-holder .button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.household .household-create-article-modal .household-create-article-modal-content-holder .button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.household .household-create-article-modal .household-create-article-modal-button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  position: absolute;
  top: 90%;
}
.household .household-create-article-modal .button-disabled {
  opacity: 0.5;
}
.household .household-members-modal {
  width: 90vw;
  justify-content: flex-start;
  gap: 50px;
  border-right: 3px solid #add8e6;
  left: -100%;
  padding-top: 100px;
}
.household .household-members-modal .household-members-modal-return {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.household .household-members-modal button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  font-size: 20px;
}
.household .household-members-modal .member-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-left: 20px 0;
  padding-left: 30px;
}
.household .household-members-modal .member-holder .household-members-modal-member {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
.household .household-members-modal .member-holder .household-members-modal-member img {
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.household .household-members-modal .member-holder .household-members-modal-member p {
  color: black;
  font-size: 25px;
  margin: 0;
}
.household .household-members-modal .member-holder .household-members-modal-member .household-members-modal-member-star {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 10%;
}
.household .household-list-modal .household-list-modal-list-article-modal-holder {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  position: absolute;
  transition: 300ms;
  z-index: 1;
}
.household .household-list-modal .household-list-modal-list-article-modal-holder .household-list-modal-list-article-modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid #4682B4;
  border-bottom: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: -100%;
  padding: 30px 0;
  transition: 300ms;
}
.household .household-list-modal .household-list-modal-list-article-modal-holder .household-list-modal-list-article-modal img {
  height: 90px;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border: 3px solid #add8e6;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 30px;
  transform: translateY(-50%);
}
.household .household-list-modal .household-list-modal-list-article-modal-holder .household-list-modal-list-article-modal strong {
  color: #add8e6;
  font-size: 40px;
}
.household .household-list-modal .household-list-modal-list-article-modal-holder .household-list-modal-list-article-modal .household-list-modal-list-article-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  margin-top: 10px;
}
.household .household-list-modal .household-list-modal-list-article-modal-holder .household-list-modal-list-article-modal .household-list-modal-list-article-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.household .household-list-modal #household-list-modal-list-article-modal-active {
  opacity: 1;
}
.household .household-list-modal #household-list-modal-list-article-modal-active .household-list-modal-list-article-modal {
  bottom: 0;
}
.household .household-list-modal .household-header {
  justify-content: center;
}
.household .household-list-modal .household-list-modal-list-article-holder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 0;
  overflow: scroll;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-article-holder-no-span {
  color: grey;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  padding: 0 30px;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-image {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-content-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-content-holder strong {
  color: #add8e6;
  font-size: 30px;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-content-holder p {
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  margin: 0;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-content-holder p span {
  color: #4682B4;
  font-weight: bold;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-user-holder {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-user-holder img {
  height: 25px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article .household-list-modal-list-article-user-holder p {
  color: black;
  font-size: 15px;
  text-align: center;
  margin: 0;
}
.household .household-list-modal .household-list-modal-list-article-holder .household-list-modal-list-article-marked {
  opacity: 0.5;
}
.household .household-notifications-modal .household-header {
  justify-content: center;
  position: absolute;
  top: 0;
}
.household .household-notifications-modal span {
  color: grey;
  font-size: 25px;
  font-style: italic;
}
.household .household-settings-modal {
  justify-content: flex-start;
}
.household .household-settings-modal .household-header {
  justify-content: center;
  position: absolute;
  top: 0;
}
.household .household-settings-modal .household-settings-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  padding: 0 30px;
  margin-top: 120px;
}
.household .household-settings-modal .household-settings-modal-button-holder button {
  color: black;
  font-size: 20px;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
}
.household .household-settings-modal .household-settings-modal-button-holder button:last-child {
  color: red;
}
.household #household-modal-active {
  top: 0;
  left: 0;
}
.household .household-member-modal-holder {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  position: absolute;
  transition: 300ms;
  z-index: 1;
}
.household .household-member-modal-holder .household-member-modal {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border: 2px solid #4682B4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: -100%;
  transition: 300ms;
}
.household .household-member-modal-holder .household-member-modal .household-member-modal-background {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url("../images/banners/banner-default.png");
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid black;
  position: relative;
}
.household .household-member-modal-holder .household-member-modal .household-member-modal-background img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border: 3px solid #add8e6;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 0;
  transform: translateY(50%);
}
.household .household-member-modal-holder .household-member-modal strong, .household .household-member-modal-holder .household-member-modal input {
  color: #add8e6;
  font-size: 35px;
  margin-top: 80px;
}
.household .household-member-modal-holder .household-member-modal input {
  width: 70%;
  font-size: 25px;
  outline: none;
  border: 3px solid #add8e6;
  padding: 3px 10px;
  transition: 300ms;
}
.household .household-member-modal-holder .household-member-modal input:focus {
  border: 3px solid #4682B4;
}
.household .household-member-modal-holder .household-member-modal .household-member-modal-button-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
.household .household-member-modal-holder .household-member-modal .household-member-modal-button-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
}
.household .household-member-modal-holder #household-member-modal-active {
  bottom: 0;
}
.household #household-member-modal-holder-active {
  opacity: 1;
}
.household .household-main-header h2 {
  text-transform: none;
}
.household .article-holder {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: scroll;
}
.household .article-holder span {
  color: grey;
  font-size: 25px;
  font-style: italic;
}
.household .article-holder .household-article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 15px 20px;
}
.household .article-holder .household-article img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .article-holder .household-article .household-article-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.household .article-holder .household-article .household-article-content strong {
  color: #add8e6;
  font-size: 30px;
}
.household .article-holder .household-article .household-article-content p {
  color: black;
  font-size: 15px;
  margin: 0;
}
.household .household-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid black;
  padding: 10px 20px;
  position: sticky;
  bottom: 0;
}
.household .household-menu .household-menu-image {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.household .household-menu .plus-button {
  position: relative;
  top: 0;
  padding: 25px;
}

.invite {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.invite .return {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
}
.invite h2 {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
  position: absolute;
  top: 10%;
  font-size: 40px;
}
.invite .invite-code-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.invite .invite-code-holder p {
  width: 70%;
  color: #add8e6;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 3px solid black;
  border-radius: 3px;
  margin: 0;
  padding: 10px;
  transition: 300ms;
}
.invite .invite-code-holder #invite-p-copied {
  color: #4682B4;
  border: 3px solid #add8e6;
}
.invite .invite-code-holder button {
  width: 70%;
  color: black;
  font-size: 15px;
  text-transform: capitalize;
  background: transparent;
  border: 2px solid #add8e6;
  border-radius: 5px;
  padding: 10px 0;
  transition: 300ms;
  font-size: 20px;
}
.invite img {
  height: 270px;
  width: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 80px;
}/*# sourceMappingURL=main.css.map */