.household-list-modal-list-article {
    width: 100%;
    @include center;
    justify-content: space-between;
    padding: 5px 30px;

    .household-list-modal-list-article-image {
        height: 80px;
        width: 80px;
        object-fit: contain;
    }

    .household-list-modal-list-article-content-holder {
        width: 100%;
        @include center(column);
        align-items: flex-start;
        padding: 0 30px;

        strong {
            color: $primary;
            font-size: 35px;
        }

        p {
            color: black;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;

            span {
                color: $secondary;
                font-weight: bold;
            }
        }
    }

    .household-list-modal-list-article-user-holder {
        width: 30%;
        @include center(column);
        
        img {
            height: 30px;
            width: 30px;
            object-fit: contain;
            border-radius: 50%;
        }

        p {
            color: black;
            font-size: 20px;
            text-align: center;
            margin: 0;
        }
    }
}

.household-list-modal-list-article-marked {
    opacity: .5;
}